# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Alembic cache
alembic/versions/__pycache__/